/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0rem;
}

/* HERO */
.jumbotron{
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  
}

.container {
  position: relative;
  z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

/* MOD2 */
.underimg-mod2{
  background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
}

.pad-mod2-para1{
  padding-top: 50px;
}
.pad-mod2-para2{
  padding-bottom: 200px;
}
.heightpad-mod2{
  height: 250px;
}

/* MOD3 */
.underimg-mod3{
  background-image: url('https://hawk-garethf.github.io/img/gbox_mod3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.padding-mod3{
  padding-top: 500px;
  padding-bottom: 500px;
}