/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

/* HERO */
/*
.jumbotron{
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  padding: 8rem 2rem;
}

.container {
  position: relative;
  z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
*/

.jumbotron{
  background-image: url(https://hawk-garethf.github.io/img/speakit_hero_bg_1440x1020x2.png);
  background-size: cover;
  
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 1000px;
  padding: 25rem 2rem;
  border-radius: 0rem;
  
}
.push-spaces
{
    height: 400px;
}
.container {
  position: relative;
  z-index: 2;
}


/* MOD2 */
.underimg-mod2{
  background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: relative;

}
.pad-mod2-top{
  padding-top: 50px;
}
.pad-mod2-para1{
  padding-bottom: 50px;
}
.pad-mod2-para2{
  padding: 280px 0 220px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .jumbotron{
    height: 350px;
    padding: 6.25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1640.png');
    height: 90%;
  }
  .pad-mod2-para2{
    padding: 200px 0 50px 15px;
  }
  .noshow-mob{
    display: none;
  }
  .align-center-mod5{
    text-align: center;
  }
  .padding-mod5-text{
    padding-bottom: 50px;
  }
  
}

@media (min-width: 576px) and (max-width: 767px) {
  .jumbotron{
    height: 400px;
    padding: 6.25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1540.png');
  }
  .align-center-mod5{
    text-align: center;
  }
  .padding-mod5-text{
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron{
    height: 800px;
    padding: 12.5rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1340.png');
  }
  .underimg-mod3{
    background-image: url('https://hawk-garethf.github.io/img/hero_box_mod3_795x1000.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
  .container-bg-pink{
    background-color: #EC355B;
  }
  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron{
    height: 800px;
    padding: 18.75rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1180.png');
  }

}

@media (min-width: 1200px) {
  .jumbotron{
    height: 1000px;
    padding: 25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2.png');
  }
}

/* MOD3 */
.underimg-mod3{
  background-image: url('https://hawk-garethf.github.io/img/gbox_mod3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.padding-mod3{
  padding-top: 200px;
  padding-bottom: 200px;
}

.width225-mod3{
  width: 225px;
  height: 225px;
}

.padding-left-mod3{
  padding-left: 250px;
}

.text-align-middle-pad{
  padding-top: 3.5rem;
  padding-left: 3rem;
}

.pad-bottom-mod3{
  padding-bottom: 40px;
}

/* MOD4 */
.padding-mod4-header{
  padding: 50px 0;
}
.underimg-mod4{
  background-image: url('https://hawk-garethf.github.io/img/Speakers_mod4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.height-270{
  height: 270px;
}

.text-align-top{
  padding-top: 110px;
}

.pad-top-50-mod4{
  padding-top: 20px;
}

/* MOD5 */
.padding-top-bottom-mod5{
  padding: 100px 0;
}

.padding-mod5-text{
  padding-top: 150px;
}