/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

/* HERO */
/*
.jumbotron{
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  padding: 8rem 2rem;
}

.container {
  position: relative;
  z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
*/

.jumbotron{
  background-image: url(https://hawk-garethf.github.io/img/speakit_hero_bg_1440x1020x2.png);
  background-size: cover;
  
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 1000px;
  padding: 25rem 2rem;
  border-radius: 0rem;
  
}
.push-spaces
{
    height: 400px;
}
.container {
  position: relative;
  z-index: 2;
}
div.fadein h1 h3 {
  display: inline-block;
  color: #ffffff;
  text-transform: none;
  opacity: 0.0;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* MOD2 */

/*
.underimg-mod2{
  background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: relative;
  z-index: 0;
}
 */

 /*
div.container-mod2-1{
  position:relative;
}
div.container-mod2-1 img{
  position:absolute;
  top:0;
  left:100px;
  z-index:0;
}
div.container-mod2-1 div.container-mod2-2{
  position:relative;
  z-index:5;
}
*/
div.container-mod2-2 {
  margin:auto;
  position: relative;
}
.mod-bg-img {
  position: absolute;
  left: 50%;
  margin-left:-450;
}


.pad-mod2-top{
  padding-top: 50px;
}
.pad-mod2-para1{
  padding-bottom: 50px;
}
.pad-mod2-para1-pad-right-30{
  padding-right: 30px;
  color: #212529;
}
.pad-mod2-para2{
  padding: 280px 0 220px 0;
}
.highlight{
  display:inline;
  width: max-content;
  background-size: 200% auto; 
  background-image: linear-gradient(to right,#fff 50%,#EC355B 50%);
  background-position: 0% 0;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: #fff;
}
.highlight.active{
 animation-name: highlight;
}

@keyframes highlight {
  from {background-position: 0% 0;}
  to {background-position: -100% 0;}
}

/* MOD3 */
.underimg-mod3{
  background-image: url('https://hawk-garethf.github.io/img/gbox_mod3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container-bg-pink{
  height: 80%;
  width: 100%;
  background: linear-gradient(90deg,#ffffff 60%, #EC355B 40%);
}
.text-white-pad-mod3{
  padding-top: 100px;
  padding-bottom: 85px;
}
.width225-mod3{
  width: 225px;
  height: 225px;
}

.padding-left-mod3{
  padding-left: 250px;
}


.text-align-middle-pad{
  padding-top: 2rem;
  padding-left: 3.5rem;
  padding-right: 2rem;
}

.pad-bottom-mod3{
  padding-bottom: 40px;
}

/* MOD4 */
.padding-mod4-header{
  padding: 125px 0 50px 0;
}
.underimg-mod4{
  background-image: url('https://hawk-garethf.github.io/img/Speakers_mod4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.height-270{
  height: 270px;
}

.text-align-top-mod4{
  padding-top: 110px;
}

.pad-top-50-mod4{
  padding-top: 20px;
}

/* MOD5 */
.padding-top-bottom-mod5{
  padding: 100px 0;
}

.padding-mod5-text{
  padding-top: 150px;
}


@media (min-width: 320px) and (max-width: 575px) {
  .jumbotron{
    height: 350px;
    padding: 6.25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1340.png');
    height: 90%;
  }
  .pad-mod2-para2{
    padding: 200px 0 50px 15px;
  }
  .text-size-mod2 h1{
    font-size: 1.8rem;
  }
  .noshow-mob{
    display: none;
  }
  .noshow-mob-mod4{
    display: none;
  }

  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text-align-top-mod4{
    padding-top: 10px;
  }
  .align-center-mod5{
    text-align: center;
  }
  .padding-mod5-text{
    padding-bottom: 50px;
    padding-top: 0px;
  }
  .underimg-mod3{
    background-image: none;
  }
  .container-bg-pink{
    background: #EC355B;
  }
  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .noshow-mob-mod3{
    display: none;
  }
  .align-center-mod3{
    width: 100%;
    display: block;
    text-align: center;
  }
  .text-align-middle-pad{
    padding-top: .3rem;
    padding-left: 2rem;
    text-align: center;
  }
  .img-992-mod3{
    height: 150px;
    width: 150px;
  }
  .pad-bottom-mod3{
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .pad-top-50-mod4{
    padding-top: 180px;
  }
  .padding-mod5-text{
    padding-top: 150px;
  }
  
}

@media (min-width: 576px) and (max-width: 767px) {
  .jumbotron{
    height: 400px;
    padding: 6.25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1540.png');
  }
  .pad-mod2-para2{
    padding-bottom: 100px;
  }
  .text-size-mod2 h1{
    font-size: 2.1rem;
  }
  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .noshow-mob-mod4{
    display: none;
  }
  .text-align-top-mod4{
    padding-top: 10px;
  }
  .align-center-mod5{
    text-align: center;
  }
  .padding-mod5-text{
    padding-bottom: 50px;
    padding-top: 0px;
  }
  .underimg-mod3{
    background-image: none;
  }
  .container-bg-pink{
    background: #EC355B;
  }
  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .noshow-mob-mod3{
    display: none;
  }
  .align-center-mod3{
    width: 100%;
    display: block;
    text-align: center;
  }
  .text-align-middle-pad{
    padding-top: .3rem;
    padding-left: 2rem;
    text-align: center;
  }
  .img-992-mod3{
    height: 150px;
    width: 150px;

  }
  .pad-bottom-mod3{
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .pad-top-50-mod4{
    padding-top: 180px;
  }
  .padding-mod5-text{
    padding-top: 150px;
  }

  
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron{
    height: 800px;
    padding: 12.5rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1340.png');
  }
  .pad-mod2-para2{
    padding-bottom: 100px;
  }
  .text-size-mod2 h1{
    font-size: 2.1rem;
  }
  .underimg-mod3{
    background-image: none;
  }
  .container-bg-pink{
    background: #EC355B;
  }
  .padding-mod3{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .noshow-mob-mod3{
    display: none;
  }
  .align-center-mod3{
    width: 100%;
    display: block;
  }
  .text-align-middle-pad{
    padding-top: 2rem;
    padding-left: 7rem;
    text-align: left;
  }
  .img-992-mod3{
    height: 150px;
    width: 150px;
  }
  .noshow-mob-mod4{
    display: none;
  }
  .text-align-top-mod4 h1{
    font-size: 1.8rem;
  }
  .pad-top-50-mod4 h1{
    font-size: 1.8rem;
  }
  .text-align-top-mod4{
    padding-top: 250px;
  }
  .pad-top-50-mod4{
    padding-top: 70px;
  }
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron{
    height: 800px;
    padding: 18.75rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2_padtop_1400x1180.png');
  }
  .img-992-mod3{
    height: 150px;
    width: 150px;
  }
  .container-bg-pink{
    height: 80%;
    width: 100%;
    background: linear-gradient(90deg,#ffffff 60%, #EC355B 40%);
  }
  .text-white-pad-mod3{
    padding-top: 75px;
    padding-bottom: 60px;
  }
  .text-align-middle-pad{
    padding-top: 2rem;
    padding-left: 4rem;
  }
  .noshow-mob-mod4{
    display: none;
  }
  .text-align-top-mod4{
    padding-top: 250px;
  }
  .pad-top-50-mod4{ 
    padding-top: 150px;
  }
  .text-align-top-mod4 h1{
    font-size: 1.8rem;
  }
  .pad-top-50-mod4 h1{
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .jumbotron{
    height: 1000px;
    padding: 25rem 2rem;
  }
  .underimg-mod2{
    background-image: url('https://hawk-garethf.github.io/img/hew_box_mockup_mod2.png');
  }
  .container-bg-pink{
    height: 80%;
    width: 100%;
    background: linear-gradient(90deg,#ffffff 60%, #EC355B 40%);
  }
}